* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "montseratt", sans-serif;
}

.App {
    background-image: url("./assets/cold-bg-full.jpg");
    background-size: cover;
    background-position: center;
    transition: 0.4s;
}

.App.warm {
    background-image: url("./assets/warm-bg-full.jpg");;
}

main {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.75));
    padding: 25px;
}

.search-box {
    width: 55%;
    margin: auto auto 35px;
}

.search-box .search-bar {
    display: block;
    width: 100%;
    padding: 15px;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.53);
    border-radius: 16px;
    box-shadow: 2px 5px rgba(0, 0, 0, 0.2);
    color: #313131;
    font-size: 20px;
    transition: 0.4s;
}

.search-box .search-bar:focus {
    background-color: rgba(255, 255, 255, 0.73);
}

.location-box {
    color: white;
    font-size: 40px;
    text-align: center;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
    margin: 35px;
}

.date {
    color: white;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.day-box {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.weather-box {
    width: 300px;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.weather-box .temp {
    position: relative;
    display: inline-block;
    border-radius: 16px;
    padding: 15px 25px;
    padding-top: 0;

    color: white;
    font-size: 102px;
    font-weight: 900;
    text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
    text-align: center;
}

.weather-box .weather {
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
    margin: 10px;
}

.moreinfo-box {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.more-info {
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.min-max {
    display: flex;
    justify-content: space-around;
}

.min-max h1{
    display: flex;
    flex-direction: column;
}

.moreinfo-box a{
    font-size: 12px;
    margin: 2px;
}




@media (max-width: 600px) {
    .search-box {
        width: 100%;
    }

    .location-box {
        font-size: 6.6vw;
        margin: 6vw;
    }
    
    .date {
        font-size: 3.3vw;
    }

    .day-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .weather-box .temp {
        font-size: 17vw;
    }
    
    .weather-box .min-max {
        font-size: 2.7vw;
    }

    .moreinfo-box {
        height: 300px;
    }
    
    .min-max a{
        font-size: 2vw;
    }
    
    .weather-box .weather {
        font-size: 5vw;
        margin: 1.5vw;
    }
    
    .more-info {
        font-size: 6.6vw;
    }
    
    .moreinfo-box a{
        font-size: 2.1vw;
        margin: 0.5vw;
    }
}